body {
	margin: 0;
	padding: 15px;
	font-family: sans-serif;
	background: #87cefa;
}
#container{
	display: flex;
	justify-content: center;
	/*optional*/
	/*align-items: center;*/
}

::-webkit-scrollbar{
	background: #96D9FF;
}

::-webkit-scrollbar-track{
	background: #96D9FF;
	border-left: 2px solid #000;
	border-right: 2px solid #000;
}

::-webkit-scrollbar-thumb{
	background: #98FB98;
	border: 2px solid #000;
}

h1{
	font-size: 28px;
	color: #fff;
	text-align: center;
}
h2{
	font-size: 14px;
	font-weight: 300;
	text-align: center;
}